.contact-div-main {
  display: flex;
  align-items: center;  // Ensure vertical alignment of content
  justify-content: space-between;  // Spread the contact details and image apart
}

.contact-photo {
  width: 250px;             // Set your preferred size for the image
  height: auto;             // Maintain aspect ratio
  border-radius: 50%;       // Make the image circular
  object-fit: cover;        // Ensure it fits well within the circular frame
  margin-left: 1.5rem;      // Adjust the margin to space it from the text
}

/* Hide the image on smaller screens for responsiveness */
@media (max-width: 1380px), (max-width: 768px) {
  .contact-title {
    font-size: 40px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  /* Hide the image on smaller screens */
  .contact-image-div {
    display: none;
  }
}
